body, html {
    height: 100%;
    font-family: Alegreya;
    background: #111;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

#top {
    position:fixed;
}

.topnav {
    background-color: #111;
    overflow: hidden;
    visibility: hidden;
}

/* for some reason css ignores this */
#topnavbar{
    visibility: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
    margin-top: 10%;
}

.topnav a.active {
    background-color: #333;
    color: white;
}

#topbutton {
    padding: 10px;
    margin: 5px;
    width: 40px;
    text-align: center;
}

.containerMenu {
    padding: 14px 16px;
    cursor: pointer;
    overflow: hidden;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
   background-color: whitesmoke;
   color: black;
}

.arrownav {
    width: 100%;
    position: fixed;
}

.previous {
    background-color: #333;
    color: whitesmoke;
    margin-left: 1%;
}

.next {
    margin-bottom: 10%;
    background-color: #333;
    color: whitesmoke;
    margin-left: 90%;
}

#catpic {
    padding-top: 13px;
    overflow-x:hidden;
}

.drawing{
    height: auto;
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}

div.polaroid {
    background-color: "111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    max-width: 200px;
    display: inline-block;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 2%;

}

div.polaroid2 {
    background-color: "111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    max-width: 1200px;
    display: inline-block;
    margin-left: 40%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 2%;
}

div.polaroid3 {
    background-color: "111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    max-width: 1200px;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 2%;
}

div.container {
    text-align: left;
    color: whitesmoke;
    margin-left: 10%;
    
}

div img:hover {
  -webkit-transform: scale(1.5,1.5);
}